.git
.idea
.vscode

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/vendor
**/dist
**/coverage
**/*.log

backend/.docker/mysql
backend/.docker/backups
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
