.idea/
.vscode/
.DS_Store
Thumbs.db
*.log

.env
.env.*
!.env.example

node_modules/
vendor/
dist/
coverage/

backend/.docker/mysql/
backend/.docker/backups/
backend/public/build/
backend/public/hot
backend/public/storage
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/*.key

frontend/.angular/cache/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
